body {
    background-image: url(https://avatars.mds.yandex.net/i?id=cd5b7127aa1f1c673c116db624cbba359c0e8ecb-9095503-images-thumbs&n=13);
}
#more {
    display: none;
}
.text {
    width: 300px;
    background-color: #1f3b6e;
    color: white;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 0 5px 4px rgba(3, 3, 3, 3);
    border-radius: 3px;
}
button {
    padding: 10px 15px;
    border: #fff 2px solid;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    background: transparent;
}
button:hover {
    transform: scale(1.2) translateX(8px);
    border-radius: 10px;

}
.all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    width: 1300px;
    padding-left: 100px;
    padding-right: 100px;
}