body {
    background-image: url(https://avatars.mds.yandex.net/i?id=09861cf8f36af65da0ced07cfb702290697a0447-9833563-images-thumbs&n=13);
    height: 100vh;
}
.all {
    background-color: #383441;
    color: crimson;
    border-radius: 20px;
}

h1 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    font-weight: 500;
}

/* text-field */
.text-field {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 20px;
}
option {
    font-size: 30px;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
button {
    font-size: 20px;
    margin-top: 200px;
    margin-right: 100px;
    color: crimson;
    border-radius: 10px;
}

